<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lib.astpl.scannertest">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" />
    <application>
        <activity
            android:name="com.as.as_app.ScannerActivity"
            android:label="@string/title_activity_scanner"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name="com.intsig.ccrengine.ISCardScanActivity"
            android:label="@string/app_name" >
        </activity>

    </application>

</manifest>